<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.AsistenteMapper">
    <select parameterType="map" id="consultarAsistentes" resultMap="AsistenteResult">
        SELECT Monitoria_identificador, Estudiante_codigo, Tema_identificador, nombre
        FROM Asistente JOIN Tema ON Tema_identificador=Identificador
    </select>
    
    <insert  id="registrarAsistente">
        INSERT INTO Asistente (Monitoria_identificador, Estudiante_codigo, Tema_identificador)
        VALUES (#{miAsistente},#{ecAsistente},#{tiAsistente})
    </insert>
    
    <resultMap type="Asistente" id="AsistenteResult" >
        <id property="monitoria" column="Monitoria_identificador"/>
        <id property="estudiante" column="Estudiante_codigo"/>
        <collection property="temas" ofType="Tema" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.TemaMapper.TemaResult"/>
    </resultMap>
      	
</mapper>
