<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.AsistenteMapper">
    <select parameterType="map" id="consultarAsistentes" resultMap="AsistenteResult">
        SELECT 
        mo.Identificador as mo_Identificador, 
        mo.fecha as mo_fecha, 
        mo.hora_inicio as mo_hora_inicio, 
        mo.hora_fin as mo_hora_fin, 
        mo.ip as mo_ip, 
        mo.observaciones as mo_observaciones, 
        
        e.Codigo as e_codigo, 
        
        t.Identificador as t_Identificador, 
        t.nombre as t_nombre, 
        t.descripcion as t_descripcion 
        
        FROM Asistente as asis
        left join Monitoria as mo ON asis.Monitoria_identificador=mo.Identificador 
        left join Estudiante as e ON asis.Estudiante_codigo=e.Codigo 
        left join Tema as t ON asis.Tema_identificador=t.Identificador 
    </select>
    
    <select id="consultarMonitoriasXGrupoGeneral" resultMap="AsistenteResult">
        SELECT 
        mo.Identificador as mo_Identificador, 
        mo.fecha as mo_fecha, 
        mo.hora_inicio as mo_hora_inicio, 
        mo.hora_fin as mo_hora_fin, 
        mo.ip as mo_ip, 
        mo.observaciones as mo_observaciones,
        
        e.Codigo as e_Codigo, 
        
        t.Identificador as t_Identificador, 
        t.nombre as t_nombre, 
        t.descripcion as t_descripcion
        
        FROM Asistente as a JOIN monitoria as mo ON a.Monitoria_identificador=mo.Identificador 
        JOIN Estudiante as e ON a.Estudiante_codigo=e.Codigo
        JOIN Tema as t ON a.Tema_identificador=t.Identificador
        left join Monitor as m ON mo.monitor_codigo = m.Codigo
        left join Curso as c on t.curso_nemonico = c.Nemonico
        
        WHERE c.Nemonico = #{nemonicoMonitoria}
    </select>
    
    <insert  id="registrarAsistente">
        INSERT INTO Asistente (Monitoria_identificador, Estudiante_codigo, Tema_identificador)
        VALUES (#{miAsistente},#{ecAsistente},#{tiAsistente})
    </insert>
    
    
    <resultMap type="Asistente" id="AsistenteResult" >
        <association property="monitoria" javaType="Monitoria" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.MonitoriaMapper.MonitoriaResult"/>
        <association property="estudiante" javaType="Estudiante" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.EstudianteMapper.EstudianteResult"/>
        <collection property="temas" ofType="Tema" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.TemaMapper.TemaResult"/>
    </resultMap>
      	
</mapper>
