<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.CursoMapper">
    <select parameterType="map" id="consultarCursoGeneral" resultMap="CursoResult">
        SELECT Nemonico, nombre, creditos, horas_monitoria
        FROM Curso
        <if test="neCurso != null">
            WHERE Nemonico = #{neCurso}
        </if>
    </select>
    
    <insert parameterType="map" id ="registrarCurso" >
        INSERT INTO Curso (Nemonico, nombre, creditos, horas_monitorias)
        VALUES (#{neCurso},#{noCurso},#{crCurso},#{hmCurso})
    </insert>
    
    <resultMap type='Curso' id='CursoResult'>
        <id property='nemonico' column='Nemonico'/>
        <result property='nombre' column='nombre'/>
        <result property='creditosacAdemicos' column='creditos'/>
        <result property='horasMonitoria' column='horas_monitoria'/>
        <collection property='grupos' ofType='Grupo' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mapper.GrupoMapper.GrupoResult'></collection>
        <collection property='temas' ofType='Tema' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mapper.TemaMapper.TemaResult'></collection>
    </resultMap>
</mapper>
