<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
 <mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.CursoMapper">
     
     <select parameterType="map" id="ConsultarCurso" resultMap="CursoResult">
         SELECT Neumonico, Nombre, Creditos,Programa
         WHERE Neumonico =#{neumon}
     </select>
     
     <insert parameterType="map" id ="AgregrarCurso" >
         INSERT INTO  Curso (Neumonico, Noombre, Creditos, Programa) VALUES (#{neumo},#{nomb},#{credi},null,#{prog})
     </insert> 
     
     <select parameterType="map" id="ConsultarTemasCurso" resultMap="TemasCursoResult">
         SELECT Nombre, Descripcion
         FROM Tema
         WHERE Neumonico =#{neum}
     </select>
     
     <select parameterType="map" id="ConsultarGruposCurso" resultMap="GruposCursoResult">
         SELECT Nombre, Descripcion
         FROM Grupo
         WHERE Neumonico =#{neum}
     </select>
     
     <select parameterType="map" id="ConsultarCursos" resultMap="GruposResult">
         SELECT 
            c.Neumonico, c.Nombre, c.Creditos,c.Programa
            
            g.Year, g.Periodo_academico, g.Curso_Neumonico, g.Numero, g.Profesor_Codigo, g.Monitor_Codigo
         
         FROM Curso AS c
         LEFT JOIN as g on c.Neumonico=g.Curso_Neumonico
         
         
     </select>
     
 </mapper>
