<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.EstudianteMapper">
    <select parameterType="map" id="consultarEstudianteGeneral" resultMap="EstudianteResult">
        SELECT 
        e.Codigo,
        g.Identificador, g.numero
        FROM Estudiante as e JOIN Estudiante_cursa as ec ON e.Codigo=ec.Estudiante_codigo 
            JOIN  Grupo as g.Identificador=Grupo_Identificador
        <if test="coEstudiante != null">
            WHERE e.Codigo = #{coEstudiante}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarEstudiante">
        INSERT INTO Estudiante (Codigo)
        VALUES (#{coEstudiante})
    </insert>
    
    <resultMap type="Estudiante" id="EstudianteResult" >
        <id property="codigo" column="e.Codigo"/>
        <collection property='cursando' ofType='Grupo' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mapper.GrupoMapper.GrupoResult'></collection>
    </resultMap>
      	
</mapper>