<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.EstudianteCursaMapper">
    <select parameterType="map" id="consultarEstudianteCursaGeneral" resultMap="EstudianteCursaResult">
        SELECT 
        e.Codigo as e_Codigo,
        
        g.Identificador as g_Identificador, 
        g.numero as g_numero, 
        
        p.Codigo as p_Codigo, 
        p.nombre as p_nombre, 
        p.apellido as p_apellido, 
        p.celular as p_celular, 
        p.correo as p_correo, 
        p.clave as p_clave, 
        
        m.Codigo as m_Codigo, 
        m.semestre_ingreso as m_semestre_ingreso, 
        m.programa_academico as m_programa_academico, 
        m.nombre as m_nombre, 
        m.apellido as m_apellido, 
        m.celular as m_celular, 
        m.correo as m_correo, 
        m.clave as m_clave, 
         
        s.Identificador as s_Identificador, 
        s.years as s_years, 
        s.periodo_academico as s_periodo_academico, 
        s.fecha_inicio as s_fecha_inicio, 
        s.fecha_fin as s_fecha_fin, 
        
        a.Codigo as a_Codigo, 
        a.nombre as a_nombre, 
        a.apellido as a_apellido, 
        a.celular as a_celular, 
        a.correo as a_correo, 
        a.clave as a_clave, 
        
        f.Identificador as f_Identificador, 
        f.dia as f_dia, 
        f.hora_inicio as f_hora_inicio, 
        f.hora_fin as f_hora_fin, 
        
        c.Nemonico as c_Nemonico, 
        c.nombre as c_nombre, 
        c.creditos as c_creditos, 
        c.horas_monitoria as c_horas_monitoria, 
        
        t.Identificador as t_Identificador, 
        t.nombre as t_nombre, 
        t.descripcion as t_descripcion
        
        FROM Estudiante_cursa as ec 
        left join Estudiante as e ON ec.Estudiante_codigo=e.Codigo 
        left join Grupo as g ON ec.Grupo_identificador=g.Identificador 
        left join Profesor as p ON g.profesor_codigo=p.Codigo 
        left join Monitor as m ON g.monitor_codigo=m.Codigo 
        left join Semestre as s ON g.semestre_identificador=s.Identificador 
        left join Administrador as a ON s.administrador_codigo=a.Codigo 
        left join Curso as c ON g.curso_nemonico=c.Nemonico 
        left join Franja as f ON g.Identificador=f.grupo_identificador
        left join Tema as t ON c.Nemonico=t.curso_nemonico 
        <if test="ecEstudianteCursa != null or giEstudianteCursa != null">
            WHERE ec.Estudiante_codigo = #{ecEstudianteCursa} OR ec.Grupo_identificador = #{giEstudianteCursa}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarEstudianteCursa">
        INSERT INTO Estudiante_Cursa (Estudiante_codigo, Grupo_identificador)
        VALUES (#{ecEstudianteCursa},#{giEstudianteCursa})
    </insert>
    
    <resultMap type="EstudianteCursa" id="EstudianteCursaResult" >
        <collection property='estudiantes' ofType='Estudiante' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mappers.EstudianteMapper.EstudianteResult'></collection>
        <collection property='grupos' ofType='Grupo' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper.GrupoResult'></collection>
    </resultMap>
      	
</mapper>
