<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.FranjaMapper">
    <select parameterType="map" id="consultarFranjaGeneral" resultMap="FranjaResult">
        SELECT 
        f.Identificador as f_Identificador, 
        f.dia as f_dia, 
        f.hora_inicio as f_hora_inicio, 
        f.hora_fin as f_hora_fin,
        f.grupo_identificador as f_grupo 
        
        FROM Franja as f
        <if test="idFranja != null">
            WHERE f.Identificador = #{idFranja}
        </if>
    </select>
    
    <select parameterType="map" id="consultarFranjasXMateriaGeneral" resultMap="FranjaResult">
        SELECT 
        f.Identificador as f_Identificador, 
        f.dia as f_dia, 
        f.hora_inicio as f_hora_inicio, 
        f.hora_fin as f_hora_fin,
        f.grupo_identificador as f_grupo 
        
        FROM Franja as f
        WHERE f.grupo_identificador = #{idMateria}
    </select>    
    
    <insert parameterType="map" id="registrarFranja">
        INSERT INTO Franja (Identificador, dia, hora_inicio, hora_fin, grupo_identificador) 
        VALUES (#{idFranja},#{diFranja},#{hiFranja},#{hfFranja},#{giFranja})
    </insert>
    
    <resultMap type="Franja" id="FranjaResult">
        <id property="id" column="f_Identificador"/>
        <result property="dia" column="f_dia"/>
        <result property="horaInicio" column="f_hora_inicio"/>
        <result property="horaFin" column="f_hora_fin"/>
        <result property="grupo" column="f_grupo"/>
    </resultMap>
      	
</mapper>