<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.FranjaMapper">
    <select parameterType="map" id="consultarFranjaGeneral" resultMap="FranjaResult">
        SELECT 
        f.Identificador, f.dia, f.hora_inicio, f.hora_fin,
        g.Identificador, g.numero
        FROM Franja as f JOIN Grupo as g ON f.grupo_identificador=g.Identificador
        <if test="idFranja != null">
            WHERE f.Identificador = #{idFranja}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarFranja">
        INSERT INTO Franja (Identificador, dia, hora_inicio, hora_fin, grupo_identificador) 
        VALUES (#{idFranja},#{diFranja},#{hiFranja},#{hfFranja},#{giFranja})
    </insert>
    
    <resultMap type="Franja" id="FranjaResult">
        <id property="id" column="Identificador"/>
        <result property="dia" column="f.dia"/>
        <result property="horaInicio" column="hora_inicio"/>
        <result property="horaFin" column="hora_fin"/>
        <association property="grupo" javaType="Grupo" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper.GrupoResult"/>
    </resultMap>
      	
</mapper>