<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper">
    <select parameterType="map" id="consultarGrupo" resultMap="GrupoResult">
        SELECT Identificador, semestre_identificador, curso_nemonico, numero, profesor_codigo, monitor_codigo
        FROM Grupo
        <if test="idGrupo != null">
            WHERE Identificador = #{idGrupo}
        </if>
    </select>
     
    <insert parameterType="map" id="registrarGrupo">
        INSERT INTO Grupo (Identificador, semestre_identificador, curso_nemonico, numero, profesor_codigo, monitor_codigo)
        VALUES (#{idGrupo},#{seGrupo},#{cnGrupo},#{nuGrupo},#{pcGrupo},#{mcGrupo})
    </insert>
     
    <resultMap type="Grupo" id="GrupoResult" >
        <id property="id" column="Identificador"/>
        <result property="numero" column="numero"/>
        <association property="semestre" javaType="Semestre" columnPrefix='se_' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.SemestreMapper.SemestreResult"></association>
        <association property="curso" javaType="Curso" columnPrefix='cu_' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.CursoMapper.CursoResult"></association>
        <association property="profesor" javaType="Profesor" columnPrefix='pr_' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.ProfesorMapper.ProfesorResult"></association>
        <association property="monitor" javaType="Monitor" columnPrefix='mo_' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.MonitorMapper.MonitorResult"></association>
        <collection property='estudiantes' ofType='Estudiante' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.EstudianteMapper.EstudianteResult"></collection>
        <collection property='franjasMonitoria' ofType='Franja' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.FranjaMapper.FranjaResult"></collection>
    </resultMap>
     
</mapper>
