<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.MonitoriaMapper">
    <select parameterType="map" id="consultarMonitoriaGeneral" resultMap="MonitoriaResult">
        SELECT grupo_curso_nemonico, hora_inicio, hora_fin, temas, Estudiante_codigo
        FROM Monitoria JOIN Asistente ON Identificador=Monitoria_identificador
        <if test="idMonitoria != null">
            WHERE Identificador = #{idMonitoria}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarMonitoria">
        INSERT INTO Monitoria (Identificador, fecha, hora_inicio, hora_fin, ip, observaciones, grupo_year, grupo_periodo_academico, grupo_curso_nemonico, grupo_numero) 
        VALUES (#{idMonitoria},#{feMonitoria},#{hiMonitoria},#{hfMonitoria},#{ipMonitoria},#{obMonitoria},#{grMonitoria.year},#{grMonitoria.periodoAcademico},#{grMonitoria.cursoNemonico},#{grMonitoria.numero})
    </insert>
    
    <resultMap type="Monitoria" id="MonitoriaResult" >
        <id property="id" column="Identificador"/>
        <result property="fecha" column="Fecha"/>
        <result property="horaInicio" column="hora_inicio"/>
        <result property="horaFin" column="hora_fin"/>
        <result property="ip" column="ip"/>
        <result property="observaciones" column="observaciones"/>
        <association property="grupo" javaType="Grupo" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper.GrupoResult"/>
    </resultMap>
      	
</mapper>
