<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.MonitorMapper">
    <select parameterType="map" id="consultarMonitorGeneral" resultMap="MonitorResult">
        SELECT 
        m.Codigo, m.semsetre_ingreso, m.programa_academico, m.nombre, m.apellido, m.celular, m.correo, m.clave, 
        g.Identificador, g.numero
        FROM Monitor as m JOIN Grupo as g ON m.Codigo=g.monitor_codigo
        <if test="coMonitor != null">
            WHERE m.Codigo = #{coMonitor}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarMonitor">
        INSERT INTO Monitor (Codigo, semestre_ingreso, programa_academico, nombre, apellido, celular, correo, clave)
        VALUES (#{coMonitor},#{siMonitor},#{paMonitor},#{noMonitor},#{apMonitor},#{ceMonitor},#{corMonitor},#{clMonitor})
    </insert>
    
    <!--celular, clave se podran actualizar-->
    
    <resultMap type="Monitor" id="MonitorResult" >
        <id property="codigo" column="m.Codigo"/>
        <result property="semestreIngreso" column="m.semsetre_ingreso"/>
        <result property="programaAcademico" column="m.programa_academico"/>
        <result property="nombre" column="m.nombre"/>
        <result property="apellido" column="m.apellido"/>
        <result property="celular" column="m.celular"/>
        <result property="correo" column="m.correo"/>
        <result property="clave" column="m.clave"/>
        <collection property='gruposMonitor' ofType='Grupo' resultMap='edu.eci.pdsw.samples.persistence.mybatis.mapper.GrupoMapper.GrupoResult'></collection>
    </resultMap>
      	
</mapper>