<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.ProfesorMapper">
    <select parameterType="map" id="consultarProfesorGeneral" resultMap="ProfesorResult">
        SELECT
        p.Codigo, p.nombre, p.apellido, p.celular, p.correo, p.clave,
        g.Identificador, g.numero
        FROM Profesor as p JOIN Grupo as g ON p.Codigo=g.profesor_codigo
        <if test="coProfesor != null">
            WHERE p.Codigo = #{coProfesor}
        </if>
    </select>
         
    <insert parameterType="map" id="registrarProfesor">
        INSERT INTO Profesor (codigo, nombre, apellido, celular, correo, clave) 
        VALUES (#{coProfesor},#{noProfesor},#{apProfesor},#{ceProfesor},#{corProfesor},#{clProfesor})
    </insert>
    
    <resultMap type='Profesor' id='ProfesorResult'>
        <id property='codigo' column='p.Codigo'/>
        <result property='nombre' column='p.nombre'/>
        <result property='apellido' column='p.apellido'/>
        <result property='celular' column='p.celular'/>
        <result property='correo' column='p.correo'/>
        <result property='clave' column='p.clave'/>
        <collection property='grupos' ofType='Grupo' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper.GrupoResult"></collection>
    </resultMap> 
</mapper>
