<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.ProfesorMapper">
    <select parameterType="map" id="consultarProfesorGeneral" resultMap="ProfesorResult">
        SELECT codigo, nombre, apellido, celular, correo
        FROM Profesor
        <if test="coProfesor != null">
            WHERE codigo = #{coProfesor}
        </if>
    </select>
         
    <insert parameterType="map" id="registrarProfesor">
        INSERT INTO Profesor (codigo, nombre, apellido, celular, correo, clave) 
        VALUES (#{coProfesor},#{noProfesor},#{apProfesor},#{ceProfesor},#{corProfesor},#{clProfesor})
    </insert>
    
    <resultMap type='Profesor' id='ProfesorResult'>
        <id property='codigo' column='codigo'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='celular' column='celular'/>
        <result property='correo' column='correo'/>
        <result property='clave' column='clave'/>
        <!--<collection property='grupos' ofType='Grupo' resultMap="eci.edu.eci.pdsw.samples.persistence.mybatis.mappers.GrupoMapper.GrupoResult"></collection>-->
    </resultMap> 
</mapper>
