<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.SemestreMapper">
    <select parameterType="map" id="consultarSemestreGeneral" resultMap="SemestreResult">
        SELECT 
        s.Identificador, s.years, s.periodo_academico, s.fecha_inicio, s.fecha_fin,
        a.Codigo, a.nombre, a.apellido, a.celular, a.correo, a.clave
        FROM Semestre as s JOIN Administrador as a ON s.administrador_codigo=a.Codigo
        <if test="yeSemestre != null and paSemestre != null">
            WHERE s.years = #{yeSemestre} AND s.periodo_academico = #{paSemestre}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarSemestre">
        INSERT INTO Semestre (Identificador, years, periodo_academico, fecha_inicio, fecha_fin, administrador_codigo) 
        VALUES (#{idSemestre},#{yeSemestre},#{paSemestre},#{fiSemestre},#{ffSemestre},#{acSemestre})
    </insert>
    
    <resultMap type="Semestre" id="SemestreResult">
        <id property="id" column="Identificador"/>
        <result property="years" column="years"/>
        <result property="periodoAcademico" column="periodo_academico"/>
        <result property="fechaInicio" column="fecha_inicio"/>
        <result property="fechaFin" column="fecha_fin"/>
        <association property="admin" javaType="Administrador" resultMap='edu.eci.pdsw.samples.persistence.mybatis.mappers.AdministradorMapper.AdministradorResult'/>
    </resultMap>
      	
</mapper>
