<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.SemestreMapper">
    <select parameterType="map" id="consultarSemestreGeneral" resultMap="SemestreResult">
        SELECT 
        s.Identificador as s_Identificador, 
        s.years as s_years, 
        s.periodo_academico as s_periodo_academico, 
        s.fecha_inicio as s_fecha_inicio, 
        s.fecha_fin as s_fecha_fin, 
        
        a.Codigo as a_Codigo, 
        a.nombre as a_nombre, 
        a.apellido as a_apellido, 
        a.celular as a_celular, 
        a.correo as a_correo, 
        a.clave as a_clave
        
        FROM Semestre as s 
        left join Administrador as a ON s.administrador_codigo=a.Codigo
        <if test="yeSemestre != null and paSemestre != null">
            WHERE s.years = #{yeSemestre} AND s.periodo_academico = #{paSemestre}
        </if>
    </select>
    
    <insert parameterType="map" id="registrarSemestre">
        INSERT INTO Semestre (Identificador, years, periodo_academico, fecha_inicio, fecha_fin, administrador_codigo) 
        VALUES (#{idSemestre},#{yeSemestre},#{paSemestre},#{fiSemestre},#{ffSemestre},#{acSemestre})
    </insert>
    
    <resultMap type="Semestre" id="SemestreResult">
        <id property="id" column="s_Identificador"/>
        <result property="years" column="s_years"/>
        <result property="periodoAcademico" column="s_periodo_academico"/>
        <result property="fechaInicio" column="s_fecha_inicio"/>
        <result property="fechaFin" column="s_fecha_fin"/>
        <association property="admin" javaType="Administrador" resultMap='edu.eci.pdsw.samples.persistence.mybatis.mappers.AdministradorMapper.AdministradorResult'/>
    </resultMap>
      	
</mapper>
