<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.TemaMapper">
    <select parameterType="map" id="consultarTemaGeneral" resultMap="TemaResult">
        SELECT
        t.Identificador, t.nombre, t.descripcion
        FROM Tema as t
        <if test="idTema != null">
            WHERE t.Identificador = #{idTema}
        </if>
    </select>
     
    <insert parameterType="map" id="registrarTema">
        INSERT INTO Tema (Identificador, curso_nemonico, nombre, descripcion)
        VALUES (#{idTema},#{cnTema},#{noTema},#{deTema})
    </insert>
     
    <resultMap type="Tema" id="TemaResult" >
        <id property="id" column="Identificador,"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <!--<association property="curso" javaType="Curso" resultMap="edu.eci.pdsw.samples.persistence.mybatis.mappers.CursoMapper.CursoResult"/>-->
    </resultMap>
     
</mapper>
