<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="edu.eci.pdsw.samples.persistence.mybatis.mappers.TemaMapper">
   
     <select parameterType="map" id="ConsultarTema" resultMap="TemaResult">
         SELECT nombre, descripcion
         WHERE Nombre=#{nomb}
     </select>
     
     <insert parameterType="map" id="AgregarTema">
         INSERT INTO Tema (Identificador,Nombre,Descripcion,CursoNeumonico) VALUES (#{iden},#{nomb},#{descrip},#{cursNeu})
     </insert>
     
     <resultMap type="Tema" id="TemaResult" >>
        <id property="identificador" column="Identificador"/>
        <result property="nombre" column="Nombre"/>
        <result property="descripcion" column="Descripcion_/>
        <result property="cursoNeumonico" column="CursoNeumonico"/>
    </resultMap>
     
</mapper>
