<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <properties resource="config.properties">
    </properties>
    
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.samples.entities.Administrador' alias='Administrador'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Asistente' alias='Asistente'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Curso' alias='Curso'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Estudiante' alias='Estudiante'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Grupo' alias='Grupo'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitor' alias='Monitor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitoria' alias='Monitoria'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Profesor' alias='Profesor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Semestre' alias='Semestre'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Tema' alias='Tema'/>
    </typeAliases>
        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/AdministradorMapper.xml"></mapper>
        <mapper resource="mappers/AsistenteMapper.xml"></mapper>
        <mapper resource="mappers/CursoMapper.xml"></mapper>
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>
        <mapper resource="mappers/GrupoMapper.xml"></mapper>
        <mapper resource="mappers/MonitoriaMapper.xml"></mapper>
        <mapper resource="mappers/ProfesorMapper.xml"></mapper>
        <mapper resource="mappers/SemestreMapper.xml"></mapper>
        <mapper resource="mappers/TemaMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>
