<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
        <typeAlias type='edu.eci.pdsw.samples.entities.Administrador' alias='Administrador'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Asistente' alias='Asistente'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Curso' alias='Curso'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.EstudianteCursa' alias='EstudianteCursa'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Estudiante' alias='Estudiante'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Franja' alias='Franja'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Grupo' alias='Grupo'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitor' alias='Monitor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Monitoria' alias='Monitoria'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Profesor' alias='Profesor'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Semestre' alias='Semestre'/>
        <typeAlias type='edu.eci.pdsw.samples.entities.Tema' alias='Tema'/>
    </typeAliases>
        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-23-23-247-222.compute-1.amazonaws.com:5432/def5jdma1jtrtt?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="tslxemplcvbpek" />
                <property name="password" value="f06cf0eb2466bcd2110c79c5ccc1f3b2ad862c43c2fd2439fde878509a18ed9b" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/AdministradorMapper.xml"></mapper>
        <mapper resource="mappers/AsistenteMapper.xml"></mapper>
        <mapper resource="mappers/CursoMapper.xml"></mapper>
        <mapper resource="mappers/EstudianteCursaMapper.xml"></mapper>
        <mapper resource="mappers/EstudianteMapper.xml"></mapper>
        <mapper resource="mappers/FranjaMapper.xml"></mapper>
        <mapper resource="mappers/GrupoMapper.xml"></mapper>
        <mapper resource="mappers/MonitorMapper.xml"></mapper>
        <mapper resource="mappers/MonitoriaMapper.xml"></mapper>
        <mapper resource="mappers/ProfesorMapper.xml"></mapper>
        <mapper resource="mappers/SemestreMapper.xml"></mapper>
        <mapper resource="mappers/TemaMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>
